<ul class="social-icons">
  <!-- <li>
    <a matTooltip="Facebook" aria-label="Link to Facebook" href="#">
      <i id="tt1" tabindex="0" class="zmdi zmdi-facebook"></i>
    </a>
  </li> -->
  <li>
    <a class="twitter-link" matTooltip="Twitter" aria-label="Link to Twitter" target="_blank"
      href="https://twitter.com/Duffbuster">
      <i id="tt1" tabindex="0" class="zmdi zmdi-twitter"></i>
    </a>
  </li>
  <li>
    <a class="linkedin-link" matTooltip="LinkedIn" aria-label="Link to LinkedIn" target="_blank"
      href="https://www.linkedin.com/in/mackeydev/">
      <i id="tt1" tabindex="0" class="zmdi zmdi-linkedin"></i>
    </a>
  </li>
  <li>
    <a class="instagram-link" matTooltip="Instagram" aria-label="Link to Instagram" target="_blank"
      href="https://www.instagram.com/duffbuster/">
      <i id="tt1" tabindex="0" class="zmdi zmdi-instagram"></i>
    </a>
  </li>
</ul>
