$color_1: #444;
$color_2: #848484;
$color_3: #bababa;
$color_white: #fff;

$primary_color: #d6490f;
$accent_color: #95b3e6;

$angular_red: #dd0130;
$react_blue: #61dafb;
$vue_green: #41b883;

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
