<section id="about" class="about mt-180 mb-30">
  <mat-card>
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="avatar"></div>
        <mdev-social-icons></mdev-social-icons>
      </div>
      <div class="col-md-7 col-xs-12">
        <div class="info-wrapper">
          <h1>Colin Mackey</h1>
          <h5 class="mt-20 font-grey">Front End Web Specialist - <a target="_blank"
              href="https://captechconsulting.com">CapTech
              Consulting</a>
          </h5>

          <div class="mt-30">
            <!-- TODO: Store this in a different S3 bucket, makes it easier to upload updated resumes -->
            <a target="_blank" href="assets/Colin-Mackey-Resume.pdf" download color="primary" class="mr-10"
              mat-raised-button>Download
              Resume</a>
            <a href="#contact" color="accent" mat-raised-button>Contact</a>
          </div>
        </div>

        <ul class="profile-wrapper mt-50">
          <li>
            <div class="profile-title">age</div>
            <div class="profile-desc">{{age}}</div>
          </li>
          <li>
            <div class="profile-title">location</div>
            <div class="profile-desc">Philadelphia, PA</div>
          </li>
          <li>
            <div class="profile-title">email</div>
            <div class="profile-desc"><a href="mailto:colin@fishbrains.com">colin@fishbrains.com</a></div>
          </li>
          <li>
            <div class="profile-title"></div>
            <div class="profile-desc"><a href="mailto:cmackey@captechconsulting.com">cmackey@captechconsulting.com</a>
            </div>
          </li>
          <li>
            <div class="profile-title">phone</div>
            <div class="profile-desc"><a href="tel:+18045162451">+1 (804) 516-2451</a></div>
          </li>
        </ul>
      </div>
    </div>
  </mat-card>
</section>
