<section id="skills" class="skills">
  <div class="row">
    <div class="col-sm-6 mb-30">
      <h2 class="mb-30">Technical Skills</h2>
      <mat-card>
        <div class="mb-30">
          <span class="progress-cat">
            Angular
          </span>
          <mat-progress-bar class="angular-progress-bar" [value]="angularValue"></mat-progress-bar>
        </div>
        <div class="mb-30">
          <span class="progress-cat">
            React
          </span>
          <mat-progress-bar class="react-progress-bar" [value]="reactValue"></mat-progress-bar>
        </div>
        <div class="mb-30">
          <span class="progress-cat">
            Vue
          </span>
          <mat-progress-bar class="vue-progress-bar" [value]="vueValue"></mat-progress-bar>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-6 mb-30">
      <h2 class="mb-30">Soft Skills</h2>
      <mat-card></mat-card>
    </div>
  </div>
</section>
